.card-two{
    background-color: transparent;
    border: 1px solid #2A2D33;
    color: black;
    display: block;
    display: flex;
     flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
    }
    .btn{
        background-color: #19CC8B;
        outline: none;
        width: 120px;
        border: none;
        height: 40px;
    }