<!-- <div class="container">
    <img src="{{githubUser.avatar_url}}" alt="" width="50px">
    <form (ngSubmit)="enter()">
    <input type="text" name="username" id="username" [(ngModel)]="username">
    <button type="submit">Enter</button>
</form>
    <h1>{{githubUser.login}}</h1>
    <p>{{githubUser.public_repos}}</p>
    <p>{{githubUser.avatar_url}}</p>
    <div>
        <ul *ngFor="let repo of userRepos">
            <li>
                {{repo.name}}
            </li>
        </ul>
    </div>
</div> -->
<div class="container-fluid">
    <div class="landing" id="landing">
    <div class="row d-flex align-self-center">
        <div class="col-md-4"></div>
        <div class="col-md-4 justify-content-center align-items-center mt-5">

            <div class="card-one text-center" style="width: 30rem;">
                <i class="fa-brands fa-github"></i>
                <div class="card-body">
                    <h5 class="card-title">Enter Github username</h5>
                    <div class="card-text">
                        <form (ngSubmit)="enter()">
                            <input type="text" name="username" id="username" [(ngModel)]="username">
                            <div class="butt mt-5">
                                <a href="#repo" class="btn"><button type="submit">Enter</button></a>
                                
                            </div>
                        </form>

                    </div>
    
                </div>
            </div>


        </div>
        <div class="col-md-4"></div>
    </div>
    </div>
    <div class="repo" id="repo">
        <div class="row d-flex">
        <div class="col-md-4 text-center">  
        <img src="{{githubUser.avatar_url}}" alt="profile picture">
        <h3>{{githubUser.login}}</h3>
        <div class="bio d-flex">
            <div class="col-sm-4">
                <span class="r">{{githubUser.followers}}</span>
                <p>Followers</p>
            </div>
            <div class="col-sm-4">
                <span class="r">{{githubUser.following}}</span>
                <p>Following</p>
            </div>
            <div class="col-sm-4">
                <span class="r">{{githubUser.public_repos}}</span>
                <p>Repositories</p>
            </div>
    
        </div>
        </div>
        <div class="col-md-8 row row-cols-1 row-cols-md-3 g-4">
            <div class="card-two d-flex mt-5" style="width: 18rem;" *ngFor="let repo of userRepos" appRepo>
                <div class="card-body">
                  <h5 class="card-title">{{repo.name}}</h5>
                  <p class="card-text">{{repo.description}}<br>
                  </p>
                  <h6 class="card-text">{{repo.language}} </h6>
                      {{repo.created_at|date}}
                  <a href="{{repo.html_url}}" target="_blank" class="btn m-1">View</a>
                  
                </div>
              </div>
        </div>
    </div>
        
    </div>
</div>