.landing{
 background-color: #19CC8B;
    color: #2A2D33;
}
.fa-github{
    font-size: 60px;
    color: #19CC8B;
    text-align: center;
    margin-top: 10px;
}
.btn{
    background-color: #19CC8B;
    outline: none;
    width: 120px;
    border: none;
    height: 40px;
}
.card-one{
    background-color: #2A2D33;
color: white;
height: 40vh;
margin-top: 200px;
}
.card-two{
background-color: transparent;
border: 2px solid #2A2D33;
color: black;
display: flex;
 flex-flow: row;
flex-wrap: wrap;
width: 100%;
}
input{
    margin-top: 15px;
}
img{
    border-radius: 50%;
    width: 10vw;
}
.repo h3{
    margin-top: 20px;
}
span{
    font-size: 30px;
}
